.container {
    display: flex;
    position: relative;
}

#brand {
    color: white;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(65, 65, 70);
    font-size: 36px;
    margin: 0;
    padding-right: 0px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    font-family: "Bigshot One", serif;
    margin-left: 10px;
}

#profile {
    height: 60px;
    width: 60px;
    margin-top: 20px;;
}

#username {
    margin-top: 5px;
    color: white;
    text-decoration: none;
}

#profile, #username {
    margin-left:450px;
}

#box {
    background-image: url('https://t4.ftcdn.net/jpg/03/27/50/65/360_F_327506517_0wVNzE7eh2hzgkQiPX7DzDKcQX0qYjJO.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
}

#logo {
    height: 80px;
    width: 130px;
    margin-right: 15px;
    margin-left: -80px;
}

#lavish {
    display: flex;
    margin-left: 260px;
}

#logo-link {
    margin-right: -55px;
}

#pwrpc {
    border: 5px solid #2b76f0;
    width: 450px;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-left: 115px;
    margin-top: 30px;
    display: inline-block;
}

#ppc {
    margin-left: 130px;
    display: inline-block;
}

#ppc2 {
    margin-left: 20px;
    display: inline-block;
}

.color {
    color: white;
}

#pwrpc:hover {
    border-color: #2b76f0;
}

#micke {
    border: 5px solid #2b76f0;
    width: 450px;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-top: 30px;
    display: inline-block;
    margin-left: 100px;
}

#micke:hover {
    border-color: #2b76f0;
}

#sony1 {
    border: 5px solid #2b76f0;
    width: 450px;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-left: 100px;
    margin-top: 30px;
    display: inline-block;
    margin-left: 100px;
    color: #B10DC9
}

#cart {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 999;
    margin: 10px;
}

body {
    background-image: url('https://i.pinimg.com/736x/a9/20/56/a92056fdbad7a0b4ca4afbc0bb06f663.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scrollbar-width: none;
}

#container {
    display: flex;
}

main {
    width: 100%;
    overflow-y: auto;
    height: 100vh;
}

aside {
    width: 25%;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

#itemsincart {
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    margin-left: 50px;
    color: #104497;
}

#separator {
    border-top: 3px solid #104497;
    width: 100%;
    margin: 20px auto;
}

::-webkit-scrollbar {
    display: none;
}

#summary {
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    margin-left: 40px;
    color: #104497
}


#close:hover {
    cursor: pointer;
}

#cartContainer {
    display:none;
}

#sonyp {
    height:448px;
    width:400px;
}

.micke {
    height:448px;
    width:400px;
}

#powerpc {
    height: 400px;
    width: 400px;
}

#item-container {
    margin-left:40px;
}

#checkout {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
    background-color: #32a0a8;
    width: 250px;
    height: 50px;
    color:white;
    border-radius: 15px;
    margin-left: 50px;
    box-shadow: 15px 10px 10px rgb(145, 135, 135);
}

#checkout:hover {
    background-color: #28868d;
}

#openClose {
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius:50px;
}

#openClose:hover {
    cursor:pointer;
}